*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /*outline: 2px solid black;*/
}

body {
    background-color: #72F072;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-image: url(./sources/images/backgrounds/bgforest.jpg);
    background-repeat: no-repeat;
    width: 1050px;
    height: 540px;
    display: flex;
    flex-direction: row;
}

.interfaz-jugador{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.containerVida {
    display: flex;
    flex-direction: column;
    margin-left: 726px;
    margin-bottom: 150px;
    padding: 1rem;
    position: absolute;
    /* top: 50%;
    right: 150px; */
    background-color: #90EE90;
    font-size: larger;
    width: 270px;
    border: 1px solid green;
    border-radius: 1rem;
}

.datosPoke {
    display: flex;
    align-items: flex-end;
}

.nombrePoke {
    margin-left: 5px;
}

.nivel {
    display: inline;
    position: absolute;
    right: 5px;
}

#totalVida {
    align-self: flex-end;
}

.pokemon-jugador{
    width: 40%;
    margin-left: 100px;
}

.botones{
    height: 20%;
    width: 1050px;
    text-align: center;
    font-weight: 600;
    font-size: xx-large;
}

td{
    background-color: lightgreen;
    border: 1px solid green;
    border-radius: 10px;
    color: rgb(68, 11, 11);
}

td:hover{
    background-color: rgb(114, 240, 114);
    color: rgb(121, 28, 28);
}

.pokemon-rival{
    margin-left: -450px;
    margin-top: 100px;
}

.contenedorVidaRival {
    position:absolute;
    background-color: #90EE90;
    margin-top: 20px;
    margin-left: 20px;
    padding: 1rem;
    border: 1px solid green;
    border-radius: 1rem;
    width: 270px;
}

.datosPokeRival {
    display: flex;
}

.nivelRival {
    position: absolute;
    right: 1rem;
}

.ventanaGrafica {
    background-color: #90EE90;
    width: 1020px;
    border: 1px solid green;
    border-radius: 1rem;
    text-align: center;
    padding: 0.8rem;
}